*{
    margin: 0;
}


.banner-img {
    border-radius: 20px;
    border: none;
    text-align: center;
    margin: 300px ;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.563);
}

.banner-text {
    position: absolute;
    color: rgb(209, 14, 14);
    top: 290px;
    left: 40%;
   
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    width: 530px;

}

.banner-description {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
}
.offer-deals{
    text-align: center;

}
.hot-deal-heading1{
    color: red;
text-align: center;
font-size: 70px;
font-weight: 800;
margin-bottom: 35px;
}
.hot-deal-heading2{
    color:black;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    
}
.hot-deal-pescription{
    color: red;
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
}

    

/* .party-img1{
    border-radius: 20px;
    border: none;
    text-align: center;
    margin: 300px ;
    margin-top: 50px;
    margin-bottom: 100px;
} */

.party-container{
    background-image: url(../assets/Vectorrr.png);
    border: none;
    border-radius: 20px;
    margin: 100px 300px ;
    margin-bottom: 100px;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: 100%;
}


.party-text{
    display: flex;
    padding: 100px 100px ;
    align-items: center;
    justify-content: space-between;
}
.party-heading{
    color:white;
font-size: 55px;
font-weight: 900;
width: 400px;
margin-bottom: 20px;
}
.party-description{
    color:white;
font-size: 15px;
width: 500px;
margin-bottom: 50px;
}
.party-btn{
    background: none;
    border: 1px solid  rgb(205, 18, 80);;
    color: white;
text-align: center;
font-size: 15px;
font-weight: 600;
padding: 15px 35px;
border-radius: 5px;



}
.party-btn:hover{
    background-color: rgb(205, 18, 80);
}